doctype=html
html
	head
		style
			include style.css
		
		title Home ADN
	body
		
			
		ul
			li 
				a(href="/") Home
			li 
				a(href="/service") ADN
		
		h1
			p nombre de requêtes réalisées par tous les utilisateurs : #{ cptRequete }


